RewriteEngine on
RewriteCond %{HTTP_HOST} ^imradiobox.github.io/radiobox/index.html [NC,OR]
RewriteCond %{HTTP_HOST} ^www.imradiobox.github.io/radiobox/index.html [NC]
RewriteRule ^(.*)$ https://google.com.ua/ [L,R=301,NC]
